
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  div{
    /*background-color: aqua;*/
    width:700px;
    height: 400px;
    margin:  auto;
  }
  div.article{
    margin-top : 100px;
    
  }
  h2{
    margin-bottom: 5px;
  }
  span.thick{
        font-weight: 700 ;
  }
  span.gray{
    color:gray;
  }
  iframe{
    margin: auto;
    width : 80%;
    height :400px;
   }
